USE [master]
GO
/****** Object:  Database [CuaHang_XeMay]    Script Date: 24/12/2020 21:33:51 ******/
CREATE DATABASE [CuaHang_XeMay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHang_XeMay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CuaHang_XeMay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHang_XeMay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CuaHang_XeMay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHang_XeMay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHang_XeMay]
GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucNang](
	[ma_CN] [int] IDENTITY(5000,1) NOT NULL,
	[ten_CN] [ntext] NULL,
	[ma_UI] [ntext] NULL,
 CONSTRAINT [PK_ChucNang] PRIMARY KEY CLUSTERED 
(
	[ma_CN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuNhap]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuNhap](
	[ma_PN] [int] NOT NULL,
	[ma_SP] [int] NOT NULL,
	[gianhap_SP] [int] NULL,
	[soluong_SP] [int] NULL,
	[tongtien_SP] [int] NULL,
 CONSTRAINT [PK_CT_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[ma_PN] ASC,
	[ma_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_Quyen]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_Quyen](
	[ma_NV] [int] NOT NULL,
	[ma_CN] [int] NOT NULL,
 CONSTRAINT [PK_CT_Quyen] PRIMARY KEY CLUSTERED 
(
	[ma_NV] ASC,
	[ma_CN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD_BanHang]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD_BanHang](
	[ma_HD] [int] NOT NULL,
	[ma_SP] [int] NOT NULL,
	[gia_SP] [int] NULL,
	[soluong_SP] [int] NULL,
	[tongtien_SP] [int] NULL,
 CONSTRAINT [PK_CTHD_BanHang] PRIMARY KEY CLUSTERED 
(
	[ma_HD] ASC,
	[ma_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD_DichVu]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD_DichVu](
	[ma_HDDV] [int] NOT NULL,
	[ma_DV] [int] NOT NULL,
	[gia_DV] [int] NULL,
	[soluong_DV] [int] NULL,
	[tongtien_DV] [int] NULL,
 CONSTRAINT [PK_CTHD_DichVu] PRIMARY KEY CLUSTERED 
(
	[ma_HDDV] ASC,
	[ma_DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[ma_DM] [int] IDENTITY(4000,1) NOT NULL,
	[ten_DM] [ntext] NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[ma_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[ma_DV] [int] IDENTITY(8000,1) NOT NULL,
	[ten_DV] [ntext] NULL,
	[mota_DV] [ntext] NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[ma_DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gia_DV]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gia_DV](
	[ma_GiaDV] [int] IDENTITY(9000,1) NOT NULL,
	[ma_DV] [int] NULL,
	[gia_DV] [int] NULL,
	[ngay_DBDV] [date] NULL,
	[ngay_KTDV] [date] NULL,
 CONSTRAINT [PK_Gia_DV] PRIMARY KEY CLUSTERED 
(
	[ma_GiaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gia_SP]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gia_SP](
	[ma_GiaSP] [int] IDENTITY(10000,1) NOT NULL,
	[ma_SP] [int] NULL,
	[gia_SP] [int] NULL,
	[ngay_BDSP] [date] NULL,
	[ngay_KTSP] [date] NULL,
 CONSTRAINT [PK_Gia_SP] PRIMARY KEY CLUSTERED 
(
	[ma_GiaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hang_SX]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang_SX](
	[ma_Hang] [int] IDENTITY(3000,1) NOT NULL,
	[ten_Hang] [ntext] NULL,
 CONSTRAINT [PK_Hang_SX] PRIMARY KEY CLUSTERED 
(
	[ma_Hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_BanHang]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_BanHang](
	[ma_HD] [int] IDENTITY(12000,1) NOT NULL,
	[ma_KH] [int] NULL,
	[ma_NV] [int] NULL,
	[ngaylap_HD] [date] NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_HD_BanHang] PRIMARY KEY CLUSTERED 
(
	[ma_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_DichVu]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_DichVu](
	[ma_HDDV] [int] IDENTITY(13000,1) NOT NULL,
	[ma_KH] [int] NULL,
	[ma_NV] [int] NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_HD_DichVu] PRIMARY KEY CLUSTERED 
(
	[ma_HDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ma_KH] [int] IDENTITY(7000,1) NOT NULL,
	[ten_HK] [ntext] NULL,
	[mail_KH] [ntext] NULL,
	[sdt_KH] [ntext] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ma_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_SP]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_SP](
	[ma_Loai] [int] IDENTITY(2000,1) NOT NULL,
	[ten_Loai] [ntext] NULL,
 CONSTRAINT [PK_Loai_SP] PRIMARY KEY CLUSTERED 
(
	[ma_Loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha_CungCap]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha_CungCap](
	[ma_NCC] [int] IDENTITY(1000,1) NOT NULL,
	[ten_NCC] [ntext] NULL,
 CONSTRAINT [PK_Nha_CungCap] PRIMARY KEY CLUSTERED 
(
	[ma_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ma_NV] [int] IDENTITY(6000,1) NOT NULL,
	[ten_NV] [ntext] NULL,
	[mail_NV] [ntext] NULL,
	[sdt_NV] [ntext] NULL,
	[mk_DangNhap] [ntext] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ma_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[ma_PN] [int] IDENTITY(11000,1) NOT NULL,
	[ma_NCC] [int] NULL,
	[ma_NV] [int] NULL,
	[ngaylap_PN] [date] NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[ma_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 24/12/2020 21:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ma_SP] [int] IDENTITY(14000,1) NOT NULL,
	[ma_DM] [int] NULL,
	[ma_Loai] [int] NULL,
	[ma_Hang] [int] NULL,
	[ten_SP] [ntext] NULL,
	[soluong_SP] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ma_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([ma_DM], [ten_DM]) VALUES (4000, N'Wave Alpha')
INSERT [dbo].[DanhMuc] ([ma_DM], [ten_DM]) VALUES (4001, N'PCX')
INSERT [dbo].[DanhMuc] ([ma_DM], [ten_DM]) VALUES (4002, N'SH ')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([ma_DV], [ten_DV], [mota_DV]) VALUES (8000, N'Bảo dưỡng cổ phốt', NULL)
INSERT [dbo].[DichVu] ([ma_DV], [ten_DV], [mota_DV]) VALUES (8001, N'Bảo dưỡng độ cơ khỏi động', NULL)
INSERT [dbo].[DichVu] ([ma_DV], [ten_DV], [mota_DV]) VALUES (8002, N'Bảo dưỡng dây công tơ mét', NULL)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[Hang_SX] ON 

INSERT [dbo].[Hang_SX] ([ma_Hang], [ten_Hang]) VALUES (3000, N'Honda')
INSERT [dbo].[Hang_SX] ([ma_Hang], [ten_Hang]) VALUES (3001, N'Yamaha')
INSERT [dbo].[Hang_SX] ([ma_Hang], [ten_Hang]) VALUES (3002, N'Suzuki')
SET IDENTITY_INSERT [dbo].[Hang_SX] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ma_KH], [ten_HK], [mail_KH], [sdt_KH]) VALUES (7000, N'Khách hàng 1', N'khachhang1', N'111111')
INSERT [dbo].[KhachHang] ([ma_KH], [ten_HK], [mail_KH], [sdt_KH]) VALUES (7001, N'Khách hàng 2', N'khachhang2', N'222222')
INSERT [dbo].[KhachHang] ([ma_KH], [ten_HK], [mail_KH], [sdt_KH]) VALUES (7002, N'Khách hàng 3', N'khachhang3', N'333333')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Loai_SP] ON 

INSERT [dbo].[Loai_SP] ([ma_Loai], [ten_Loai]) VALUES (2000, N'Xe Ga')
INSERT [dbo].[Loai_SP] ([ma_Loai], [ten_Loai]) VALUES (2001, N'Xe Tay Côn')
INSERT [dbo].[Loai_SP] ([ma_Loai], [ten_Loai]) VALUES (2002, N'Xe Số')
SET IDENTITY_INSERT [dbo].[Loai_SP] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([ma_NV], [ten_NV], [mail_NV], [sdt_NV], [mk_DangNhap]) VALUES (6000, N'Nguyễn Hoàng Dương', N'hoangduong150199@gmail.com', N'0123456789', N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[NhanVien] ([ma_NV], [ten_NV], [mail_NV], [sdt_NV], [mk_DangNhap]) VALUES (6001, N'Lê Đức Tín', NULL, NULL, N'e10adc3949ba59abbe56e057f20f883e')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
USE [master]
GO
